 * {
    margin: 0%;
    padding: 0%;
 }
 
 .text {
    font-size: 30px;
 }

 .size {
    text-align: center;
    margin-top: 60px;
 }

 .back {
    background-color: orangered;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    border: 7px solid yellow;
 }

 .you {
    display: flex;
    flex-direction: row;
 }

 .rectangle {
   position: fixed;
   margin-top: 30px;
   margin-left: 30px;
 }

 .positions {
   position: fixed;
   bottom: 0;
   right: 0;
 }