body {
	background: #e6e6e6;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #010e80;
	display: table;
	width: 100%;
}

nav li {
	display: table-cell
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: #e6e608;
}

h2 a {
	padding: 33px 25px;
	color: white;
	text-decoration: none;
}

h2 a:hover {
	background-color: #111;
}

figcaption{
  text-align:left;
}

header {
	margin-left: 14px;
}

article {
	text-align: left;
	margin: 15px;
	max-width: 80%;
	font-size: 18px;
	line-height: 32px;
}

img {
	width: 400px;
	height: 300px;
  position:relative;
  right:28px;
}

aside {
	left: 10px;
	border: 1px solid rgb(25, 166, 128);
	padding: 15px;
	max-width: 80%;
	position: relative;
	border-color: #010e80;
	border-width: 5px;
	font-size: 18px;
}

footer {
	position: relative;
	width: 100%;
	bottom: -100px;
	background-color: #010e80;
}

footer p {
	color: white;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

footer a {
	color: white;
	text-decoration: none;
	text-align: center;
	width: 100%;
}

video {
	display: block;
	width: 420px;
	height: 250px;
  padding:15px;
}

audio {
	padding: 15px;
	width: 98%;
  box-sizing: border-box;
}

embed {
	width: 400px;
	height: 458px;
  padding:15px;
}

body {
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/210/126/desktop-wallpaper-historical-powerpoint-template-history-backgrounds-design-10-historical-backgrounds.jpg);
 }

 .main-list li {
	color: rgb(198, 225, 23);
 }

 p:hover {
	background-color: rgb(164, 122, 58);
 }

 p {
	color: red;
	font-size: 18px;
	font-weight: bold;
	height: 30px;
	width: 1400px;
	border: 3px solid coral;
	font-family: cursive;
 }

 h1 {
	background-color: rgb(253, 157, 14);
	text-align: center;
 }

 .menu {
	opacity: 0.7;
 }

 h1.special {
	color: #61510b;
 }

 img[src*='taraz_at_night-wallpaper-2560x1600'] { height: 450px}

 [href]{
	color: rgb(210, 240, 41);
 }

#title {
	color: #61510b;
}

.brown {
	color: brown;
}

.bold {
	font-weight:900;
}

.brand {
	color: rgb(108, 27, 0);
	height: 40px;
	width: 750px;
}

p.content-header {
	height: 30px;
	width: 1243px;
	border: solid coral;
	border: 2400px 0px;
	margin: 18px 0px 30px;
	padding: 0%;
	}

.picture {
	border: 3px solid rgb(108, 86, 8);
	border-radius: 5px;
	margin-right: 40px;
}

.first {
	height: 90px;
	width: 1400px;
	border-radius: 5px;
}

.post {
	height: 40px;
	width: 1518px;
}

.contact {
	height: 40px;
	width: 1518px;
}

.img-2 {
	border:3px solid #61510b;
	border-radius: 5px;
	margin-bottom: 6px;
	padding: 17px;
}

body {
	overflow: scroll;
}

* {
	margin: 0;
	padding: 0;
}
.future {
	visibility: visible;
}